<div class="table-container">
  <!-- Filter table -->
  <div>
    <button
      type="button"
      class="button icon-button table-util__customize-button"
      nzPlacement="bottomRight"
      (click)="showModal()"
    >
      <app-filter-table-modal
        [(isVisible)]="isVisible"
        [filterData]="dataSet"
      ></app-filter-table-modal>

      <span class="material-icons"> filter_list </span>
    </button>
  </div>

  <nz-table #basicTable [nzData]="dataSet.data">
    <thead>
      <tr
        cdkDropList
        cdkDropListOrientation="horizontal"
        #todoList="cdkDropList"
        [cdkDropListData]="dataSet.columns"
        class="example-list"
        (cdkDropListSorted)="sort($event)"
      >
        <th
          class="example-box"
          *ngFor="let column of dataSet.columns"
          cdkDragLockAxis="x"
          cdkDrag
        >
          {{ column.title }}
          <i class="header-icon" nz-icon nzType="menu" nzTheme="outline"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let column of dataSet.columns">
          {{ data[column.name] }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
