<div class="table-container">
  <nz-table #basicTable [nzData]="dataSet.body">
    <thead>
      <tr
        cdkDropList
        cdkDropListOrientation="horizontal"
        #todoList="cdkDropList"
        [cdkDropListData]="dataSet.header"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <th class="example-box" *ngFor="let header of dataSet.header" cdkDrag>
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let prop of dataSet.props">{{ data[prop] }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
