<div class="table-container">
  <nz-table
    #basicTable
    [nzData]="dataSet.data"
    appDragAndDrop
    [element]="basicTable['elementRef']"
  >
    <thead>
      <tr class="example-list">
        <th class="example-box" *ngFor="let column of dataSet.columns">
          <div class="group-handle">
            <span>{{ column.title }}</span>
            <i class="header-icon" nz-icon nzType="menu" nzTheme="outline"></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let column of dataSet.columns">
          {{ data[column.name] }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
